<footer>
    <div class="privacy-link">
        <p>&copy; All rights reserved - Dogs & Cats Forever Homes
        <a href="/privacy">Privacy/Disclaimer Statement</a></p>
    </div>
</footer>

</body>
</html>
