<%- include("base/header.ejs") %>
<tr>

    <td class="contentarea" id="cat_content">
        <article class="contentarea">
            
            <h2>CAT CARE</h2>
            <p>
                Have you recently added a feline friend to your family?<br> 
                Congratulations! <br>
                We know you'll be thrilled to have your new cat in your home. 
                <br><br>
            </p>

            <h3>Feeding</h3>
            <ul>
                <li>You will need to provide fresh, clean water at all times.</li>
                <li>Treats should be no more than 5-10% of the diet.</li>
            </ul><br><br>

            <h3>Handling</h3>
            <p>
                To pick up your cat, place one hand behind the front legs and another under the hindquarters.<br> 
                Lift gently.<br> 
                NEVER pick up a cat by the scruff of the neck or by the front legs. <br><br>
            </p>

            <h3>Grooming</h3>
            <p>
                Most cats stay relatively clean and rarely need a bath, but you should brush or comb your cat regularly.<br> 
                Frequent brushing helps keep your cat's coat clean.<br>
                Reduces the amount of shedding and cuts down on the incidence of hairballs. <br><br>
            </p>

            <h4>Reference:</h4>
            <p>This page is copied from ASPCA, below is my reference,</p>
            <p>General Cat care. ASPCA. (n.d.). https://www.aspca.org/pet-care/cat-care/general-cat-care</p>

        </article>
    </td>
    <td>
        <div class="imagecontent">
            <a><img src="/cat.png" alt="Cat icon" width="80" height="50"></a>
        </div>
    </td>
</tr>

<%- include("base/footer.ejs") %>
