<%- include("base/header.ejs") %>
<tr>
    <td class="menu">
        
    </td>
    <td>
        <article class="contentarea">
            <h2>CONTACT US</h2>
            <p>
                I am the website builder of Dogs & Cats Forever Homes.<br>
                My name is Houda Filali<br>
                My student ID is 402766<br>
                My email is filalihouda11@gmail.com<br>
            </p>
    
            <br>
            <p>Source of image of logo: https://thenounproject.com/browse/icons/term/cat-and-dog/</p>
            <p>Source of image of dog in Dog Care page: https://www.freeiconspng.com/img/35930</p>
            <p>Source of image of cat in Cat Care page: https://www.vecteezy.com/png/1199162-silhouettes-cat</p>
            <p>Source of background image is : https://www.istockphoto.com/search/2/image?mediatype=illustration&phrase=paw+background </p>
    
        </article>
    </td>
    

<%- include("base/footer.ejs") %>
