<%- include("base/header.ejs") %>
<tr>

    <td class="contentarea" id="dog_content">
        <article class="contentarea">
            
            <h2>DOG CARE</h2>
            <p>
            Below are some useful tips for all dog parents. <br><br>
            </p>

            <h3>Feeding</h3>
            <ul>
                <li>Puppies eight to 12 weeks old need four meals a day.</li>
                <li>Feed puppies three to six months old three meals a day.</li>
                <li>Feed puppies six months to one year two meals a day.</li>
                <li>When your dog reaches his first birthday, one meal a day.</li>
                <li>For some dogs, it's better to feed two smaller meals.</li>
            </ul><br><br>

            <h3>Exercise</h3>
            <p>
                Dogs need exercise to: burn calories, stimulate their minds, and stay healthy. <br>
                Individual exercise needs vary based on breed or breed mix, sex, age and level of health.<br> 
                Exercise also tends to help dogs avoid boredom, which can lead to destructive behaviors.<br> 
                Supervised fun and games will satisfy many of your pet's instinctual urges. <br><br>
            </p>

            <h3>Grooming</h3>
            <p>
                Help keep your dog clean and reduce shedding with frequent brushing.<br>
                Check for fleas and ticks daily during warm weather.<br>
                Most dogs don't need to be bathed more than a few times a year. <br><br>
            </p>

            <h4>Reference:</h4>
            <p>This page is copied from ASPCA, below is my reference,</p>

            <p>General dog care. ASPCA. (n.d.). https://www.aspca.org/pet-care/dog-care/general-dog-care</p>
    </td>
    <td>
        <div class="imagecontent">
            <a><img src="/dog.png" alt="Dog icon" width="80" height="50"></a>
        </div>
    </td>
</tr>

<%- include("base/footer.ejs") %>
