<%- include("base/header.ejs") %>
    <td>
        <div class="contentarea">
        <h2>PRIVACY/DISCLAIMER STATEMENT</h2>
        <p>
        At Dogs & Cats Forever Homes, our main goal is to help connect our fabulous dogs and cats to fablous human beings like you.<br>
        To do so, we assure to protect our users' personal information and data from any form of misuse.<br>
        Your personal information is solely used to contact you in the goal of completing the adoption of your furry company.<br>
        </p>
        </div>
    </td>
</tr>

<%- include("base/footer.ejs") %>
