<%- include("base/header.ejs") %>
            <tr>
                <td>
                    <div id="successSignup" class="contentarea">
                        <h3><%=username%>, you have successfully logged into your account!</h3>
                        <p>You can now give your pet (dog/cat). </p>
                        <p>You can also browse available pets at Dogs and Cats Forever Homes!</p>
                    </div>
                </td>
            </tr>
<%- include("base/footer.ejs") %>