<%- include("base/header.ejs") %>
            <tr>
                <td class="contentarea">
                    <div id="successSignup">
                        <p>You have successfully created an account <%=username%>!</p>
                        <p>Don't forget your password! You can log in whenever and wherever now!</p>
                    </div>
                </td>
            </tr>
<%- include("base/footer.ejs") %>